
.footer
    overflow: hidden
    position: sticky
    top: 100%
    background-color: #2a9d8f
    padding: 8px 10px
    
h1
    color: #264653
    font-size: 20px
    font-weight: bold
    
p
    color: #264653
    font-size: 14px
    position: relative

a
    color:#e9c46a
    text-decoration: none
    padding: 0px 5px
    font-size: 16px

a:hover
    color:#ae2012
    
.bi 
    color:#e9c46a
    padding:0px 5px