<section class="blog container">
  <div class="row">
    <div class="post col-lg-8 col-md-8 col-12">
      <div class="row">
        <div class="post1 col-lg-6 col-md-6 col-12">
          <img class="img-fluid pb-3" src="https://images.unsplash.com/photo-1477332552946-cfb384aeaf1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
          <h3>Mejores maneras de despertar</h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
        </div>

        <div class="post1 col-lg-6 col-md-6 col-12">
          <img class="img-fluid pb-3" src="https://images.unsplash.com/photo-1581578017426-04fbc2b0511e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
          <h3>Las ventajas de la compañia</h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
        </div>

        <div class="post1 col-lg-6 col-md-6 col-12">
          <img class="img-fluid pb-3" src="https://images.unsplash.com/photo-1579600161224-cac5a2971069?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
          <h3>Centros de ayuda en tu ciudad</h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
        </div>


        <div class="post1 col-lg-6 col-md-6 col-12">
          <img class="img-fluid pb-3" src="https://images.unsplash.com/photo-1621887348744-6b0444f8a058?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
          <h3>Información y apoyo</h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
        </div>



      </div>
    </div>
    <div class="sidebar col-lg-4 col-md-4 col-12">

    </div>
  </div>
</section>