
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./2022-Masters-Road-Hero-1440x500.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./accesspible-sport-1200px].jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="./healthy life-783643.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>